@use "@/styles/variables" as *;

// Responsive mixins
@mixin mobile {
    @media (max-width: #{$mobile - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width:#{$mobile})and (max-width: #{$tablet - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width:#{$desktop}) {
        @content;
    }
}

// Flexbox mixins 
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Container
@mixin container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 01rem;

    @include desktop {
        padding: 02rem;
    }
}

// styles/animations.scss

// 1. Define the keyframe movement
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

// 2. Create a Sass mixin
@mixin animate-fade-in($duration: 0.4s, $delay: 0s) {
    animation: fadeInUp $duration ease-out $delay forwards;
}