@use '../styles/mixins.scss' as *;
@use '../styles/variables.scss' as *;

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-32px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.homePage {
    animation: slideInLeft 0.8s ease-out both;
}