@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.scss' as *;

.contact {
    width: 100%;
    background: var(--obsidian);
    border: 2px solid red;
    //background-color: radial-gradient(ellipse at 50% 100%, rgba(232, 197, 71, 0.22) 0%, transparent 60%);
}

.container {
    width: 56%;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    align-content: center;
    background: radial-gradient(ellipse at 50% 150%, rgba(232, 197, 71, 0.22) 0%, transparent 60%);

    h2 {
        color: var(--white);
        font-weight: 900;
        margin-bottom: 5px;
    }

    Button {
        .icon {
            width: 1.1rem;
            padding: 2px;
            margin-left: 5px;
        }
    }
}
