@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.blogPage {
    width: 100%;
    margin-top: 85px;
    margin-bottom: 420px;
    background-color: var(--white);
    animation: fadeIn 0.8s ease-out both;

    @include mobile {
        margin-bottom: 370px;
    }
}

.blogContainer {
    align-content: center;
    text-align: center;
}

.blogHero {
    width: 100%;
    height: 400px;
    background-image: url('/images/blog/blogPageHeroImg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid black;
}

.textContent {
    width: 50%;
    height: 100%;
    padding-left: 4rem;
    color: white;
    align-content: center;
    text-align: left;

    .topText {
        color: var(--accent);
        font-weight: 600;
        margin-bottom: 8px;
    }

    .hOne {
        color: #ffffff;
        line-height: 1.2;
        margin-bottom: 8px;

            .hOneBottom {
                color: var(--accent);
            }
    }

    .underLiner {
        width: 60px;
        margin: 20px 0;
        border-bottom: 3px solid var(--accent);
    }

    .bottomtext {
        opacity: 0.79;
    }
}

.blogCardsContainer {
    width: 60%;
    margin: 4rem auto;
    @include flex-center;
    gap: 2rem;
    border: 2px solid blue;
}

.blogCards {
    width: 260px !important;
    min-height: 200px;
    border: 2px solid yellow !important;
}