@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.blogPage {
    width: 100%;
    margin-top: 85px;
    margin-bottom: 420px;
    background-color: var(--white);
    animation: fadeIn 0.8s ease-out both;

    @include mobile {
        margin-bottom: 370px;
    }
}

.blogContainer {
    align-content: center;
    text-align: center;
}

.blogHero {
    width: 100%;
    height: 400px;
    background-image: url('/images/blog/blogPageHeroImg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid black;
}

.textContent {
    width: 50%;
    height: 100%;
    padding-left: 4rem;
    color: white;
    align-content: center;
    text-align: left;

    .topText {
        color: var(--accent);
        font-weight: 600;
        margin-bottom: 8px;
    }

    .hOne {
        color: #ffffff;
        line-height: 1.2;
        margin-bottom: 8px;

            .hOneBottom {
                color: var(--accent);
            }
    }

    .underLiner {
        width: 60px;
        margin: 20px 0;
        border-bottom: 3px solid var(--accent);
    }

    .bottomtext {
        opacity: 0.79;
    }
}

.blogHeader {
    width: 850px;
    margin: 4rem auto 0 auto;
    text-align: left;

    p{
        font-size: 0.85rem;
        opacity: 0.79;
    }

    h2{
        color: var(--obsidian)
    }
}

.blogCardContainer {
    width: 850px;
    margin: 2rem auto;
    @include flex-center;
    gap: 2rem;
}

.blogCard {
    width: 400px !important;
    min-height: 360px;
    position: relative;
    text-align: left;

    .blogCardImage {
        width: 100%;
        height: 190px;
        border-radius: 16px 16px 0px 0px;
        position: relative;
    }

    .blogCardName {
        font-size: 0.8rem;
        padding: 2px 15px;
        border-radius: 16px;
        background-color: var(--accent);
        position: absolute;
        left: 20;
        top: 20;
    }

    .heading {
        color: #000000;
        margin: 10px 0px 0px 10px;
    } 

    .paragraph {
        font-size: 0.8rem;
        padding: 10px;
    }

    .cardCta {
        width: 100%;
        font-size: 0.8rem;
        padding: 10px;
        position: absolute;
        bottom: 5;
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: 0.2;

        .button {
            border-bottom: none;

            .icon {
                margin-left: 3px;
            }
        }
    }
}

.blogEmailList {
    width: 834px;
    min-height: 150px;
    margin: 4rem auto;
    padding: 10px;
    border: 2px solid #000000;
    background-color: #000000;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .blogEmailListText {
        flex: 1;
        text-align: start;
        color: #ffffff;

        .blogEmailP {
            font-size: 0.8rem;
            color: var(--accent);
        }

        h3 {
            width: 80%;
            color: #ffffff;
            line-height: 1.3;
        }

        .blogEmailPTwo {
            font-size: 0.8rem;
            opacity: 0.79;
        }
    }

    .blogEmailInput {
        flex: 0.8;
        display: flex;
        gap: 0.5rem;

        .formEmail {
            position: relative;
            flex: 1.5;
            height: 50px;
            border-radius: 6px;
            border: 0.5px solid var(--accent);
            background: #e8c54715;
        }
        
        .formInput {
            width: 100%;
            height: 100%;
            padding: 5px;
            border: none;
            background: transparent;
        
            &::placeholder {
                font-size: 0.9rem;
                padding: 5px;
            }
        }

        Button {
            flex: 0.5;
            border-radius: 6px;
        }
    }
}