@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.blogPage {
    width: 100%;
    height: fit-content;
    margin-top: 85px;
}

.blogContainer {
    height: 400px;
    align-content: center;
    text-align: center;
}