@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.musicPage {
    width: 100%;
    margin-top: 85px;
    margin-bottom: 420px;
    padding: 10px;
    background-color: var(--white);
    animation: fadeIn 0.8s ease-out both;
    border: 2px solid red;

    @include mobile {
        margin-bottom: 370px;
    }
}

.musicContainer {
    padding: 10px;
    align-content: center;
    text-align: center;
    border: 2px solid yellow;
}