.formSection {
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
}

.container {
    padding: 10px;
    background: transparent;
}

.formCard {
    width: 450px;
    height: fit-content;
    margin: 0 auto;
    padding: 2rem 2rem;
    text-align: center;
    align-content: center;
    background: linear-gradient(145deg, #FFFFFF 0%, #F0EEE8 100%);
    border: 2px solid var(--white);
}

.contactFormHeader {

    h3 {
        color: var(--jet);
    }
}

.contactFormInfo {
    height: fit-content;
    margin-top: 1rem;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10;
    background: linear-gradient(180deg, #FFFFFF 0%, #F5F4EF 100%);
    border: 0.5px solid var(--accent);
    border-radius: 16px;


    .formGroup {

        .formEmail {
            position: relative;
            height: 50px;
            border-radius: 6px;
            border: 1px solid var(--accent);
            background: #e8c54715;
        }

        .formInput {
            width: 100%;
            height: 100%;
            padding: 5px;
            border: none;
            background: transparent;

            &::placeholder {
                font-size: 0.9rem;
                padding: 5px;
            }
        }
    }

    Button {
        padding: 0.6rem;
        font-weight: 550;
    }
}